In [95]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list[:5])

[1, 2, 3, 4, 5]

In [3]:
list=[1,2,3,4,5,6,7,8,9,10]
l=len(list)
print(l)

10

In [5]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=(list[8]+list[9])
print(sum)

19

In [94]:
for i in range(0,9):
    print(i, end=',')

0,1,2,3,4,5,6,7,8,

In [93]:
for i in range (0,9):
    if (i%2==0):
        print(i, end=',')

0,2,4,6,8,

In [92]:
for i in range (0,9):
    if (i%2!=0):
        print(i, end=',')

1,3,5,7,

In [91]:
for i in range(100):
    if i%7==0:
        print(i, end=',')

0,7,14,21,28,35,42,49,56,63,70,77,84,91,98,

In [90]:
for i in range(10,0,-1):
    print(i, end=',')

10,9,8,7,6,5,4,3,2,1,

In [89]:
for i in range(101):
    if (i%10==0):
        print(i, end=',')

0,10,20,30,40,50,60,70,80,90,100,

In [88]:
for i in range (1,10,2):
    print(i, end=',')

1,3,5,7,9,

In [29]:
x=85
if (x>8):
    print('excellent')
else:
     print('sorry')

excellent

In [87]:

for n in range(2,2000):
    
    prime= True
    for y in range(2,n):
        if (n%y==0):
            prime= False
    if prime:
        print(n, end=',')
      #printing prime number

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599,601,607,613,617,619,631,641,643,647,653,659,661,673,677,683,691,701,709,719,727,733,739,743,751,757,761,769,773,787,797,809,811,821,823,827,829,839,853,857,859,863,877,881,883,887,907,911,919,929,937,941,947,953,967,971,977,983,991,997,1009,1013,1019,1021,1031,1033,1039,1049,1051,1061,1063,1069,1087,1091,1093,1097,1103,1109,1117,1123,1129,1151,1153,1163,1171,1181,1187,1193,1201,1213,1217,1223,1229,1231,1237,1249,1259,1277,1279,1283,1289,1291,1297,1301,1303,1307,1319,1321,1327,1361,1367,1373,1381,1399,1409,1423,1427,1429,1433,1439,1447,1451,1453,1459,1471,1481,1483,1487,1489,1493,1499,1511,1523,1531,1543,1549,1553,1559,1567,1571,1579,1583,1597,1601,1607,1609,1613,1619,1621,1627,1637,1657,1663,1667,1669,1693,1697,1699,1709,1721,1723,1733,1741,1747,1753,1759,1777,1783,1787,1789,1801,1811,1823,1831,1847,1861,1867,1871,1873,1877,1879,1889,1901,1907,1913,1931,1933,1949,1951,1973,1979,1987,1993,1997,1999,

In [85]:
for n in range(2,50):
    n=(n-1)+(n-2)
    print(n, end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,

In [129]:
list='welcocme to rwanda'
for i in list:
    print(i)
   
 #printing letters

w
e
l
c
o
c
m
e

t
o

r
w
a
n
d
a

In [126]:
list1='welcome to rwanda'[::-1]
print(list1)
 # reversing letters

adnawr ot emoclew

In [120]:
list1='ama'
list2='ama'[::-1]
if list1==list2:
    print('number is palidrome')    
else:
    print('number is not palidrome')


#checking wether a number is palidrome

number is palidrome

In [140]:
l='welcome'
print(l[0],l[-1])
print(l[1],l[-2])
print(l[2],l[-3])
print(l[3],l[-4])
print(l[4],l[-5])
print(l[5],l[-6])
print(l[6],l[-7])
# reversing letters

w e
e m
l o
c c
o l
m e
e w

In [40]:
l=[3,2,5,4]
for number in range(0,3):
    if(l[number]>l[0]):
                   n=l[number]
                   l[0]=n
                   l[number]=l[0]
                    
     

print(l[1])
     #printimg the maximum number

5

In [37]:
l=[1,2,3,4,5,6,7,8,9]
n=0
for i in l:
    n=n+i
sum=n/len(l)
print(sum)
    #average

5.0

In [167]:
l=[1,2,3]
r=[3,2,1]
sum=[]
for j in range(3):
    sum.append(l[j]+r[j])
print(sum)
    #adding number of two list

[4, 4, 4]

In [50]:
l=[[11,2,4],[4,5,6],[10,8,-12]]
print(l[0][0],l[1][1],l[2][2])
print("their sum:",l[0][0]+l[1][1]+l[2][2])

    

#printing certain number and their sum

11 5 -12
their sum: 4

In [29]:
l=[2,6,0,-3,0,-1,-4,4]
p=0
n=0
z=0
for i in l:
    if i<0:
        p=p+1
    elif i>0:
        n=n+1
    else:
        z=z+1
print("positive:",p,"negative:",n,"zero:",z)
    
       
    #count positive, negative and zero number

positive: 3 negative: 3 zero: 2

In [28]:
l='banana'
count=0
for letter in l:
    if letter=='n':
      count=count+1
print(count)
# count n letter in a word

2

In [41]:
l=[5,6,9,10,15,17,18,21]
for n in l:
    if n%3==0:
        print(n)
     
 #multiples of in a list of integers

6
9
15
18
21

In [42]:
l=[1,6,8,4,5,2,7,3,9]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
l=[1,1]
new=1
for n in range(50):
    new=new+l[n]
    l.append(new)
    
print(l)

  """
      Suppose you are given the list [1, 1], if you add the last
two numbers and append it to the list, the new list will be [1, 1, 2].
If you repeat this addition sequence on the new list three more times,
you obtain [1, 1, 2, 3, 5, 8]. Starting with [1, 1], can you print the
resulting list if you carry out this addition sequence 50 times? You’ve
just printed the first 50 elements of the Fibonacci sequence.
"""

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099]

' Suppose you are given the list [1, 1], if you add the last\ntwo numbers and append it to the list, the new list will be [1, 1, 2].\nIf you repeat this addition sequence on the new list three more times,\nyou obtain [1, 1, 2, 3, 5, 8]. Starting with [1, 1], can you print the\nresulting list if you carry out this addition sequence 50 times? You’ve\njust printed the first 50 elements of the Fibonacci sequence. '

In [51]:
l='orange'
for letter in l:
    print(letter, end=",")

o,r,a,n,g,e,

In [ ]:
l='f,s,t'